<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body{
  background-color:black;
  
  }
  h1,p{
   text-transform:uppercase;
    letter-spacing: 3px;
   }
  .nav-item{
    margin:0px 10px 0 10px;
   }
   .btn--gold{
    background-color:#886735;
     color:#FFFFFF;
     margin:20px 0px 5px 0px ;
    }
     .btn--white{
    background-color:#FFFFFF;
     color:#886735;
       margin:20px 0px 5px 0px ;
    }
    .btn--gold:hover{
      background-color:rgb(228,99,70);
    }
    .btn--white:hover{
      background-color:rgb(228,99,70);
    }
    .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
 li a{
 color:white;
 text-decoration:underline;
 }
 a:hover{
  color:#886735
 }
	.HoverOn:hover{
		 
		  opacity:0.3;
		  color:white;
	  }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top">
  <a class="navbar-brand" href="/">Food Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="/menu/">Menu </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/locations">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catering">Catering</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/shop">Shop</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/loyalty">Loyalty</a>
      </li>
		 <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
		</li>
		 <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
       <li class="nav-item"  style="background-color:#886735;color:#FFFFFF;padding:5px 10px 5px 10px">
        <a class="nav-link" href="/store/order/id">Order Online</a>
      </li> 
      
    </ul>
  
  </div>  
  <li class="nav-item"  style="float:right">
		  
        <a class="nav-link" href="/store/cart/null" style="display:inline"><i class="fa fa-cart-plus" style="font-size:36px;color:#886735;padding:5px 10px 5px 10px;"></i></a>
		 
      </li> 
</nav>


<div style="width:100%;height:40px"></div>
	<div class="container">
<% if(error && error.length>0){ %>
	<div style="width:100%;height:40px"></div>
<div class="alert alert-danger" role="alert"> <%= error %></div>
<% }%>
	<% if(success && success.length>0) { %>
	<div style="width:100%;height:40px"></div>
<div class="alert alert-success" role="alert"> <%= success %></div>
</div>
 <% } %>
	</div>
<div style=" background-image:url('https://image.freepik.com/free-photo/fresh-cola-drink-with-green-lime_144627-12396.jpg');
  background-repeat:no-repeat;background-attchment:fixed;background-size:cover;height:500px;padding:50px 10px 20px 10px">
        <div style="text-align:center;color:#FFFFFF;text-shadow:2px 2px 15px red">
             <h1 style="font-size:80px;margin:100px 0px 20px;" >from our family to yours</h1>
                <p style="font-size:20px;padding:20px 0px 0px 0px;">enjoy 4 rivers sauces and foods at home,</p>
                <p style="font-size:20px;">at work and all year around</p>
               
        </div>
</div>
<div style="background-color:#FFFFFF;">
     <div style="text-align:center;border:1px solid black;">
             <h1 style="font-size:50px;margin:0px auto;padding:70px;width:600px;">Food and sauces</h1>
       </div>
  </div>
<div style="color:#FFFFFF;text-shadow:2px 2px 15px red;text-align:center" class="clearfix">
<% fooditems.forEach(function(item){ %>
<div style="float:left;width:33.33%;background-image:url('<%= item.image %>');
  background-repeat:no-repeat;background-attchment:fixed;background-size:cover;height:500px" class="HoverOn">
   <h1 style="font-size:40px;font-style:italic;margin:auto;padding:80px 20px 10px;"><%= item.name %></h1>
	
	   <p style="font-size:30px">
		<%= item.price %> 
	   </p>
	   <a href="/store/<%= item._id %>" class="btn btn--gold" style="margin:8px 0px 5px;">View Details</a>
                   
</div>
 <% }); %>
</div>
<div style="background-color:#FFFFFF;">
     <div style="text-align:center;border:1px solid black;">
             <h1 style="font-size:50px;margin:0px auto;padding:70px;width:600px;">Retail</h1>
       </div>
  </div>
<div style="color:#FFFFFF;text-shadow:2px 2px 15px red;text-align:center" class="clearfix">
<% retailitems.forEach(function(item){ %>
<div style="float:left;width:33.33%;background-image:url('<%= item.image %>');
  background-repeat:no-repeat;background-attchment:fixed;background-size:cover;height:500px" class="HoverOn">
   <h1 style="font-size:40px;font-style:italic;margin:auto;padding:80px 20px 10px;"><%= item.name %></h1>
   
	   <p style="font-size:30px">
		<%= item.price %> 
	   </p>
	   <a href="/store/<%= item._id %>" class="btn btn--gold" style="margin:8px 0px 5px;">View details</a>
             
</div>
 <% }); %>
</div>
<div style="background-color:#FFFFFF;">
     <div style="text-align:center;border:1px solid black;">
             <h1 style="font-size:50px;margin:0px auto;padding:90px 0px 10px;width:600px;">Ready for dinner?</h1>
               </br>
                <a href="/locations" class="btn btn--gold"style="margin:0px 0px 50px;">Find a location</a>
                </br>
       </div>
  </div>

<div style="background-color:#000000;">
     <div style="text-align:center;color:#FFFFFF">
                <p style="font-size:16px;padding:65px 0px 5px 0px;">Subscribe to our mailing address</p>
                <div style="padding:0px 10px 100px 10px">
				 <form action="/subscribe" method="post">
                
                <div style="padding:0px 10px 100px 10px">
                <input type="text" placeholder="Enter Email" name="email" style="width:400px;padding:6px 12px;background-color:#FFFFFF;color:#000000;"/>
                  <button type="submit" class="btn btn--gold" value="subscribe" >Subscribe</button>
</form>
          
                </div>
             <div style="color:#FFFFFF;margin:0% 5%" class="clearfix">
              <div style="float:left;width:33.33%;padding:20px;">
               <p>LOCATIONS</p>
               
               
               <i class="fa fa-angle-right" style="font-size:20px;color:#886735"></i>
               <a href="/location/tirupathi" style="color:white" >TIRUPATHI</a> </br>
              
              
               <i class="fa fa-angle-right" style="font-size:20px;color:#886735"></i>
               <a href="/location/hyderabad" style="color:white">HYDERABAD</a></br>
               
               <i class="fa fa-angle-right" style="font-size:20px;color:#886735"></i>
               <a href="/location/bangalore"  style="color:white">BANGALORE</a>
              
               </div>
              
               
              
               <div style="float:left;width:30%;height:300px;padding:50px;margin:auto;background-image:url('https://image.freepik.com/free-photo/food-with-ingredients_1220-4884.jpg'); background-repeat:no-repeat;background-attchment:fixed;background-size:cover;">
				   <em style="font-size:20px" ><a href="/loyalty">Pitmaster loyalty Club</a></em>
               </div>
               <div style="float:left;width:30%;padding:20px;">
               <p>CONTACT DETAILS</p>
                <p >1-844-4RIVERS</p>
                 <p>(1-844-474-4456)</p>
                 <p>Downtown Orando</p>
                   <a href="/contactUs" class="btn btn--gold">CONTACT US</a>
               </div>
             </div>
           </div>
          </div>
</body>
</html>